
.div {
	background-color: #FFF;
	margin: 80px 10%;
	padding: 30px 60px;
	border-radius: 20px;
	box-shadow: 0 3px 26px 0 rgba(0,0,0,0.20);
}

main {
	background-color: #f7f7f7;
	padding: 20px;
	border-radius: 10px;
	margin: 40px 0;
}

body{
    background: linear-gradient(180deg, #9fb8ad 0%, #ccdddf 51%, #2cb5e8 75%, #d5e3e9 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative; 
    top: 0; 
    left: 0; 
    margin: 0;
	font-size: 1.15rem;
	line-height: 1.4em;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #21D4FD 75%);
}

h1{
    text-align: Left;
}
#table1,#table2,#table3{
    border: 0;
    width: 70%;
}
h2{
    text-align: left;
    font-weight: bold;
}
#h1_head{
    text-align: center;
}
.td1{
    text-align: left;
}
.td2{
    text-align: right;
}
