body{
    /* background: linear-gradient(180deg, #9fb8ad 0%, #ccdddf 51%, #cdbef0 75%, #d5e3e9 100%); */
    background: white;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative; 
    top: 0; 
    left: 0; 
    margin: 0;
	font-size: 1.15rem;
	line-height: 1.4em;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(129, 126, 126, 0.2), rgb(241, 215, 238) 75%);
}
#header{
    border-radius: 15px;
    background-color: rgb(85, 93, 94);
    width:80%;
}
.left_nav{
    background-color: white;
    font-weight: bold;
    font-size: .5rem
}
.addtocart{
    /* background-color: rgb(255, 174, 174); */
    font-size: 10px;
    /* padding: 10px 24px; */
    border-radius: 10px;
    background-color: rgb(253, 241, 241); 
    color: black; 
    border: 1px solid rgb(43, 47, 48);
    padding: 10px 10px;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}
h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#block_whole{
    width:80%;
    /* border: 1px solid black; */
    box-shadow: 0 3px 26px 0 rgba(0,0,0,0.20);
    border-radius: 15px;
    background-color: ghostwhite;
    /* margin: 50px; */
  }

#header h1{
    
    text-align: right;
    font-size: 40px; 
    color: #f4f4f4;
    display: inline-block;
    /* position: relative; */
    padding: 20px 0 15px 13%;
}
#header img{
    float:left;
    /* display: inline-block; */
  /* width: 100px;
  height: 100px;
  background: #555; */
}

#book_elements{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
}

li p,li span{
    font-weight: bold;
    font-size: .5rem;
    font-family: sans-serif;
}
li div :span{
    color:red;
}
.breadcrumb{
    font-weight: bold;
    background: rgb(204, 230, 252)
}

.cart_img{
    height:60%;
}

#table_block{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding: 15px;
    border: 2px solid;
    border-radius: 15px;
    box-shadow: 0 3px 26px 0 rgba(0,0,0,0.20);
    background: white;
    text-align: center
    

}

.remove_btn{
    font-size: 10px;
    /* padding: 10px 24px; */
    border-radius: 10px;
    background-color: rgb(252, 158, 158); 
    color: black; 
    border: 1px solid rgb(43, 47, 48);
    padding: 10px 10px;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;

}

#reset{
    font-size: 10px;
    /* padding: 10px 24px; */
    border-radius: 10px;
    background-color: rgb(7, 137, 197); 
    color: black; 
    border: 1px solid rgb(43, 47, 48);
    padding: 10px 10px;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;

}

thead{
    font-size: 2rem;
    padding: 5px;
    background: rgb(85, 93, 94);
    text-align: center;
    border: 1px solid lightcyan;
    color:white

}

/* #create_cart{
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
} */